<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <httpRuntime maxRequestLength="104857600" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <appSettings>
    <add key="ImagesFolder" value="C:\ofer\WebGT\HadaraSiteDocImgs\" />
    <add key="SchemesFile" value="C:\ofer\WebGT\schemes.xml" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>  
  <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" />
            </requestFiltering>
        </security>
    </system.webServer>
  <connectionStrings>
    <!--<add name="WebGTEntities" connectionString="metadata=res://*/App_Code.WebGTModel.csdl|res://*/App_Code.WebGTModel.ssdl|res://*/App_Code.WebGTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAB1102J\SQLEXPRESS;initial catalog=WebGT;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WebGTEntities1" connectionString="metadata=res://*/App_Code.WebGTModel.csdl|res://*/App_Code.WebGTModel.ssdl|res://*/App_Code.WebGTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAB1102J\SQLEXPRESS;initial catalog=WebGT;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="WebGTEntities1" connectionString="metadata=res://*/App_Code.WebGTModel.csdl|res://*/App_Code.WebGTModel.ssdl|res://*/App_Code.WebGTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLSRV\SQL2008r2;initial catalog=WebGT;user=billero;password=1qazXCVB;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>